<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to the Text Analyzer.Enter below to Text</h1>
<form action='/analyzer' method='get' >
    <textarea name='text' style='margin: 0px; width: 980px; height: 133px;'></textarea><br>
    <input type="checkbox" name="removepunc"> Remove Punctuvations<br>
    <input type="checkbox" name="capitalize"> Char in Capitalization<br>
    <input type="checkbox" name="newlineremov"> New Line Remover<br>
    <input type="checkbox" name="spaceremover"> Space Removing<br>
    <input type="checkbox" name="charcount"> Char Counting<br>


    <button type="submit"> Analyzer Text</button>

</form>
</body>
</html>