<!DOCTYPE html>
<html lang="en">

 <head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 </head>

 <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light dark">
  <a class="navbar-brand" href="#">TextUtils.in</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Welcome To Text Utils</strong> You can do anything here.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">x</span>
  </button>
</div>

<div class="container">
    <form action='/analyzer' method='post' > {% csrf_token %}
         <div class="form-group">

             <label for="exampleFormControlTextarea1">Enter Your Text here and let Text Util do the magic</label>
             <textarea class="form-control" name='text' id="exampleFormControlTextarea1" rows="9"></textarea>
         </div>
         <div class="custom-control custom-switch">
             <input type="checkbox" name="removepunc" class="custom-control-input" id="customSwitch1">
             <label class="custom-control-label" for="customSwitch1">Remove Punctuvation</label>
         </div>

         <div class="custom-control custom-switch">
             <input type="checkbox" name="capitalize" class="custom-control-input" id="customSwitch2">
             <label class="custom-control-label" for="customSwitch2">All Char in Capitalize</label>
         </div>

         <div class="custom-control custom-switch">
             <input type="checkbox" name="newlineremov" class="custom-control-input" id="customSwitch3">
             <label class="custom-control-label" for="customSwitch3">New Line Remover</label>
         </div>

         <div class="custom-control custom-switch">
             <input type="checkbox" name="spaceremover" class="custom-control-input" id="customSwitch4">
             <label class="custom-control-label" for="customSwitch4">Space Removing</label>
         </div>

         <div class="custom-control custom-switch">
             <input type="checkbox" name="charcount" class="custom-control-input" id="customSwitch5">
             <label class="custom-control-label" for="customSwitch5">Char Count</label>
         </div>

         <button type="submit" class="btn btn-success">Analyze Text</button>


    </form>
</div>

</body>
</html>